@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-background: white;
    --theme-action: #F57F17;
    --theme-primary: black;
    --theme-dimmed: #867b6c;
    --theme-border: #ddd;
    --theme-highlight: orange;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-background: black;
        --theme-action: #867b6c;
        --theme-primary: #999;
        --theme-dimmed: #888;
        --theme-border: #333;
        --theme-highlight: white;
    }
}

.tippy-box.overlay-theme {
    color: var(--theme-primary);
    background-color: var(--theme-background);
    box-shadow: unset;
    border: unset;
}

.overlay-theme>.tippy-content {
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.tippy-box.popover-theme {
    color: var(--theme-primary);
    background-color: var(theme-background);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--theme-border);
    border-radius: 4px;
}

.popover-theme .tippy-content {
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
}

.popover-theme .tippy-svg-arrow>svg:first-child {
    fill: var(--theme-border);
}

.popover-theme .tippy-svg-arrow>svg:last-child {
    fill: var(--theme-background);
}